services:
  SERVICE_NAME:
    build: .
    container_name: ${SITE_NAME}
    restart: always
    volumes:
      - ./app:/app
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    deploy:
      resources:
        limits:
          cpus: 'CPU_LIMIT'
          memory: MEMORY_LIMIT
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        tag: "{{.Name}}"
